name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Rust WASM toolchain
      uses: dtolnay/rust-toolchain@stable
      with:
          target: wasm32-unknown-unknown
    - name: Cache
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/registry
          ~/.cargo/git
          target
        key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
    - name: Run clippy for macros
      run: cargo clippy --package macros_impl -- -Dwarnings
    - name: Run tests for macros
      run: cargo test --package macros_impl
    - name: Run Clippy
      run: cargo clippy --features axum,reqwest,reqwest-blocking,json,cbor,__examples_tokio -- -Dwarnings
    - name: Run Clippy for WASM target
      run: cargo clippy --features reqwest,json,cbor,browser,browser-json --target wasm32-unknown-unknown -- -Dwarnings
    - name: Run tests
      run: cargo test --verbose --features axum,reqwest,reqwest-blocking,json,cbor,__examples_tokio
      
